body{

    /*next line is plane over sunsetting sky, original*/
    /*background-image: url(https://res.cloudinary.com/dhg2lpfid/image/upload/v1571934601/airplane-sunset_z8glsl.jpg);*/
    /*next line is plane over sunsetting sky, sharpened*/
    background-image: url(https://res.cloudinary.com/dhg2lpfid/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1571934601/airplane-sunset_z8glsl.jpg);
    /*next line is pale sky with plane nose in bottom-left corner, sharpened (meh & takes longer to load than other photo)*/
    /*background-image: url(https://res.cloudinary.com/dhg2lpfid/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1571934601/airplane_GettyImages-1012117540_ekhwy7.jpg);*/
    /*background-color: deepskyblue;*/
    background-size: cover;
    font-size: 18px;
}

h1,h2,h3{
    text-align: center;
    color: darkblue;
}

h4#indexh4{
    text-align: center;
}

p#indexlink{
    text-align: center;
    font-size: x-large;
}
p#nodep{
    text-align: center;
}

a{
    color: darkblue;
}

p{

}
span#welcome{
    color: whitesmoke;
    font-size: large;
}

div#footer{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: darkblue;
    color: whitesmoke;
    font-family: 'Scheherazade', serif;
    font-size: 18px
}

button{
    alignment: center;
    color: lightyellow;
    background-color: darkblue;
}

.container{
    background-color: lightyellow;
    width: fit-content;

}

.container-fluid{
    background-color: lightyellow;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.jumbotron{
    background-color: lightyellow;
    alignment: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.card{
    text-align: center;
    width: 55rem;
}

.table{
    background-color: lightyellow;
    text-align: center;
}

.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
    text-align: center;
}

.nav{
    background-color: darkblue;
}

.nav-link{
    color: whitesmoke
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

