body{
    /*background-image: url(PASTE URL HERE);*/
    background-color: deepskyblue;
    background-size: cover;
    font-size: 18px;
}

h1,h2,h3{
    text-align: center;
    color: darkblue;
}

h6{
    text-align: center;
    color: darkblue;
}

a{
    color: darkblue;
}

p{

}

button{
    alignment: center;
    color: lightyellow;
    background-color: darkblue;
}

.container{
    background-color: lightyellow;
    width: fit-content;

}

.container-fluid{
    background-color: lightyellow;
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.jumbotron{
    background-color: lightyellow;
    alignment: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.card{
    text-align: center;
    width: 55rem;
}

.table{
    background-color: lightyellow;
    text-align: center;
}

.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
    text-align: center;
}

.nav{
    background-color: darkblue;
}

.nav-link{
    color: whitesmoke
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

