<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <div th:insert="base :: head"></div>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <h2>Administrator Links</h2>
        <br />
        <div class="row">
            <div class="col-sm-3"><a href="/rolelist">Role List</a></div>
            <div class="col-sm-3"><a href="/userlist">User List</a></div>
            <div class="col-sm-3"><a href="/flightlist">Flight List</a></div>   <!-- Included the flight list. JK -->
            <div class="col-sm-3"><a href="/addFlight">Add a Flight</a></div>
        </div>
        <br />
    </div>
</div>
<br>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>