<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Add Flight</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <h1>New Flight Form</h1>
        <form action="#" th:action="@{/processflight}" th:object="${flight}" method="post">
            <input type="hidden" th:field="*{id}" />
            Flight Number:&nbsp;<input type="number" th:field="*{flightNumber}"/>
            Departure Airport:&nbsp;<input type="text" th:field="*{departureAirport}" />
            <span th:if="${#fields.hasErrors('departureAirport')}" th:errors="*{departureAirport}"></span>
            <br>
            Arrival Airport:&nbsp;&nbsp;<input type="text" th:field="*{arrivalAirport}" />
            <span th:if="${#fields.hasErrors('arrivalAirport')}" th:errors="*{arrivalAirport}"></span>
            <br>
            Departure Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="datetime-local" th:field="*{departureTime}" />
            <span th:if="${#fields.hasErrors('departureTime')}" th:errors="*{departureTime}"></span>
            <br>
            Duration (Minutes):&nbsp;<input type="number" th:field="*{durationMinutes}" />
            <span th:if="${#fields.hasErrors('durationMinutes')}" th:errors="*{durationMinutes}"></span>
            <br>
            <button type="submit" class="btn btn-default"><b>Submit</b></button>
        </form>
    </div>
</div>
<br>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>