<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Flight Search</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <h1>Flight List</h1>
        <div class="row">
            <div class="col-sm-2"><b>Flight #</b></div>
            <div class="col-sm-2"><b>Departure Airport</b></div>
            <div class="col-sm-2"><b>Arrival Airport</b></div>
            <div class="col-sm-2"><b>Departure Time</b></div>
            <div class="col-sm-2"><b>Arrival Time</b></div>
            <div class="col-sm-2"><b>Price</b></div>
        </div>
        <div class="row" th:each="flight : ${flights}">
            <div class="col-sm-2"><span th:text="${flight.flightNumber}"></span></div>
            <div class="col-sm-2"><span th:text="${flight.departureAirport}"></span></div>
            <div class="col-sm-2"><span th:text="${flight.arrivalAirport}"></span></div>
            <div class="col-sm-2"><span th:text="${flight.departureTime}"></span></div>
            <div class="col-sm-2"><span th:inline="text">[[${flight.calcArrivalTime()}]]</span></div>
            <!-- <div class="col-sm-2"><span th:text="${flight.durationMinutes}"></span></div> -->
            <div class="col-sm-2"><span th:inline="text">$ [[${#numbers.formatDecimal(flight.basePrice, 0, 'COMMA', 2, 'POINT')}]]</span></div>
        </div>
    </div>
</div>
<br>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>