<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>My Flight History</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container-fluid">
    <div class="jumbotron">
        <h1>My Flight History</h1>
        <div class="row">
            <div class="col-sm-1"><b>Departure Date</b></div>
            <div class="col-sm-1"><b>Departure Flight #</b></div>
            <div class="col-sm-1"><b>Departure Airport</b></div>
            <div class="col-sm-1"><b>Departure Time</b></div>
            <div class="col-sm-1"><b>Arrival Airport</b></div>
            <div class="col-sm-1"><b>Arrival Time</b></div>
            <div class="col-sm-1"><b>Return Date</b></div>
            <div class="col-sm-1"><b>Return Flight #</b></div>
            <div class="col-sm-1"><b>Return Departure Airport</b></div>
            <div class="col-sm-1"><b>Return Departure Time</b></div>
            <div class="col-sm-1"><b>Return Arrival Airport</b></div>
            <div class="col-sm-1"><b>Return Arrival Time</b></div>
        </div>
        <div class="row" th:each="reservation : ${myreservations}">
            <div class="col-sm-1"><span th:text="${reservation.departureFlight.departureDate}"></span></div>
            <div class="col-sm-1"><span th:text="${reservation.departureFlight.flightNumber}"></span></div>
            <div class="col-sm-1"><span th:text="${reservation.departureFlight.departureAirport}"></span></div>
            <div class="col-sm-1"><span th:text="${reservation.departureFlight.departureTime}"></span></div>
            <div class="col-sm-1"><span th:text="${reservation.departureFlight.arrivalAirport}"></span></div>
            <div class="col-sm-1"><span th:inline="text">[[${reservation.departureFlight.calcArrivalTime()}]]</span></div>
            <div class="col-sm-1"><span th:if="${reservation.isRoundTrip(true)}" th:text="${reservation.returnFlight.departureDate}"></span></div>
            <div class="col-sm-1"><span th:if="${reservation.isRoundTrip(true)}" th:text="${reservation.returnFlight.flightNumber}"></span></div>
            <div class="col-sm-1"><span th:if="${reservation.isRoundTrip(true)}" th:text="${reservation.returnFlight.departureAirport}"></span></div>
            <div class="col-sm-1"><span th:if="${reservation.isRoundTrip(true)}" th:text="${reservation.returnFlight.departureTime}"></span></div>
            <div class="col-sm-1"><span th:if="${reservation.isRoundTrip(true)}" th:text="${reservation.returnFlight.arrivalAirport}"></span></div>
            <div class="col-sm-1"><span th:if="${reservation.isRoundTrip(true)}" th:inline="text">[[${reservation.arrivalFlight.calcArrivalTime()}]]</span></div>
        </div>
        <br>
    </div>
</div>
<br>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>