<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <div>
            <h1>Welcome to FantasticFlights.com!</h1>
            <h3>The Official Reservation Website of AirEverywhere</h3>
            <br>
            <h4>Where would you like to explore next?</h4>
            <button type="button" class="btn btn-default" href="/flightsearchform"
                    style="alignment: center"><b>Search Flights</b></button>
            <br>
        </div>
    </div>
</div>
<br>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>