<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Flight Search Results</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Flight Search Results</h1>
        <br>
        <p id="nodep"  th:if="${depFlights.isEmpty()}">We're sorry.  No flights match the combination of
            departure and arrival airports you selected.</p>
            <h3>Departure Flights</h3>
            <table class="table table-hover text-nowrap table-responsive-xl">
                <thead class="thead-dark">
                <tr>
                    <th>Choose</th>
                    <th>Flight #</th>
                    <th>Departure Airport</th>
                    <th>Arrival Airport</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Duration (minutes)</th>
                    <th>Price (US$)</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="depFlight : ${depFlights}">
                        <td style="max-width: 130px" class="text-truncate"><label><input type="radio" id="depFlightRadio" th:value="${depFlight}" name="depFlightRadio"></label></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${depFlight.flightNumber}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${depFlight.departureAirport}"></td></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${depFlight.arrivalAirport}"></td>
                        <td style="max-width: 230px" class="text-truncate" th:text="${#dates.format(reservation.departureDate, 'dd-MMM-yyyy') + ' ' + depFlight.departureTime}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${depFlight.calcArrivalTime()}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${depFlight.durationMinutes}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${#numbers.formatDecimal(depFlight.getPricePerPassenger(reservation.flightClass, depFlight.basePrice), 0, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div th:if="${retFlights==null}">
                <h3>Return Flights</h3>
                <form th:action="@{/processpickflights}" th:object="${reservation}" method="post">
                <table class="table table-hover text-nowrap table-responsive-xl">
                    <thead class="thead-dark">
                    <tr>
                        <th>Choose</th>
                        <th>Flight #</th>
                        <th>Departure Airport</th>
                        <th>Arrival Airport</th>
                        <th>Departure Time</th>
                        <th>Arrival Time</th>
                        <th>Duration (minutes)</th>
                        <th>Price (US$)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="retFlight : ${retFlights}">
                        <td style="max-width: 130px" class="text-truncate"><label><input type="radio" id="retFlightRadio" th:value="${retFlight.id}" name="retFlightRadio"></label></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${retFlight.flightNumber}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${retFlight.departureAirport}"></td></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${retFlight.arrivalAirport}"></td>
                        <td style="max-width: 230px" class="text-truncate" th:text="${#dates.format(reservation.departureDate, 'dd-MMM-yyyy') + ' ' + retFlight.departureTime}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${retFlight.calcArrivalTime()}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${retFlight.durationMinutes}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${#numbers.formatDecimal(retFlight.getPricePerPassenger(reservation.flightClass, retFlight.basePrice), 0, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <button type="submit" class="btn btn-default"><b>Enter Passengers Information</b></button>
        </form>
        <br>
    </div>
</div>
<br>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>