<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Flight Search Results</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Flight Search Results</h1>
        <br>
        <p id="nodep"  th:if="${depFlights.isEmpty()}">We're sorry.  No flights match the combination of
            departure and arrival airports you selected.</p>
        <form th:if="${!depFlights.isEmpty()}" th:action="@{/confirmReservation}" th:object="${reservation}" method="post">
            <h3>Departure Flights</h3>
            <table class="table table-hover text-nowrap table-responsive-xl">
                <thead class="thead-dark">
                <tr>
                    <th>Choose</th>
                    <th>Flight #</th>
                    <th>Departure Airport</th>
                    <th>Arrival Airport</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Duration (minutes)</th>
                    <th>Price (US$)</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="depFlight : ${depFlights}">
                        <td style="max-width: 130px" class="text-truncate"><label><input type="radio" id="depFlightRadio" th:value="${depFlight.id}" name="depFlightRadio"></label></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${depFlight.flightNumber}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${depFlight.departureAirport}"></td></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${depFlight.arrivalAirport}"></td>
                        <td style="max-width: 230px" class="text-truncate" th:text="${#dates.format(reservation.departureDate, 'dd-MMM-yyyy') + ' ' + depFlight.departureTime}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${depFlight.calcArrivalTime()}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${depFlight.durationMinutes}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${#numbers.formatDecimal(depFlight.getPricePerPassenger(reservation.flightClass, depFlight.basePrice), 0, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div th:if="${retFlights==null}">
                <h3>Return Flights</h3>
                <table class="table table-hover text-nowrap table-responsive-xl">
                    <thead class="thead-dark">
                    <tr>
                        <th>Choose</th>
                        <th>Flight #</th>
                        <th>Departure Airport</th>
                        <th>Arrival Airport</th>
                        <th>Departure Time</th>
                        <th>Arrival Time</th>
                        <th>Duration (minutes)</th>
                        <th>Price (US$)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="retFlight : ${retFlights}">
                        <td style="max-width: 130px" class="text-truncate"><label><input type="radio" id="retFlightRadio" th:value="${retFlight.id}" name="retFlightRadio"></label></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${retFlight.flightNumber}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${retFlight.departureAirport}"></td></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${retFlight.arrivalAirport}"></td>
                        <td style="max-width: 230px" class="text-truncate" th:text="${#dates.format(reservation.departureDate, 'dd-MMM-yyyy') + ' ' + retFlight.departureTime}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${retFlight.calcArrivalTime()}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${retFlight.durationMinutes}"></td>
                        <td style="max-width: 130px" class="text-truncate" th:text="${#numbers.formatDecimal(retFlight.getPricePerPassenger(reservation.flightClass, retFlight.basePrice), 0, 'COMMA', 2, 'POINT')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div>
                <P>Passenger 1</P>
                <input type="hidden"  name = "p1id" th:field="${passenger.id}">
                <div class="form-group">
                    <label for="p1firstName">First Name</label>
                    <input class="form-control" id="p1firstName" type="text" name="p1firstName" th:field="${passenger.firstName}" />
                </div>
                <div class="form-group">
                    <label for="p1lastName">Last Name</label>
                    <input class="form-control" id="p1lastName" type="text" name="p1lastName" th:field="${passenger.lastName}" />
                </div>
                <div class="form-group">
                    <label for="p1seatNumber">Seat Selection <br>(Window seats (A, F) add $5)</label>
                    <select class="form-control" id="p1seatNumber" type="number" name="p1seatNumber" th:field="${passenger.seatNumber}">
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="1A">1A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="1F">1F</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="2A">2A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="2F">2F</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="3A">3A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="3F">3F</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="4A">4A</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="4B">4B</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5A">5A</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5B">5B</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5E">5E</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5F">5F</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10A">10A</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10B">10B</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10C">10C</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10D">10D</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10E">10E</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10F">10F</option>
                    </select>
                </div>
            </div>
            <div th:if="${reservation.getNumberPassengers()>1}">
                <P>Passenger 2</P>
                <input type="hidden" name = "p2id" th:field="${passenger.id}">
                <div class="form-group">
                    <label for="p2firstName">First Name</label>
                    <input class="form-control" id="p2firstName" type="text" name="p2firstName" th:field="${passenger.firstName}" />
                </div>
                <div class="form-group">
                    <label for="p2lastName">Last Name</label>
                    <input class="form-control" id="p2lastName" type="text" name="p2lastName" th:field="${passenger.lastName}" />
                </div>
                <div class="form-group">
                    <label for="p2seatNumber">Seat Selection <br>(Window seats (A, F) add $5)</label>
                    <select class="form-control" id="p2seatNumber" type="number" name="p2seatNumber" th:field="${passenger.seatNumber}">
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="1A">1A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="1F">1F</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="2A">2A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="2F">2F</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="3A">3A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="3F">3F</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="4A">4A</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="4B">4B</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5A">5A</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5B">5B</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5E">5E</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5F">5F</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10A">10A</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10B">10B</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10C">10C</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10D">10D</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10E">10E</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10F">10F</option>
                    </select>
                </div>
            </div>
            <div th:if="${reservation.getNumberPassengers()>2}">
                <P>Passenger 3</P>
                <input type="hidden" name = "p3id" th:field="${passenger.id}">
                <div class="form-group">
                    <label for="p3firstName">First Name</label>
                    <input class="form-control" id="p3firstName" type="text" name="p3firstName" th:field="${passenger.firstName}" />
                </div>
                <div class="form-group">
                    <label for="p3lastName">Last Name</label>
                    <input class="form-control" id="p3lastName" type="text" name="p3lastName" th:field="${passenger.lastName}" />
                </div>
                <div class="form-group">
                    <label for="p3seatNumber">Seat Selection <br>(Window seats (A, F) add $5)</label>
                    <select class="form-control" id="p3seatNumber" type="number" name="p3seatNumber" th:field="${passenger.seatNumber}">
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="1A">1A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="1F">1F</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="2A">2A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="2F">2F</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="3A">3A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="3F">3F</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="4A">4A</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="4B">4B</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5A">5A</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5B">5B</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5E">5E</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5F">5F</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10A">10A</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10B">10B</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10C">10C</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10D">10D</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10E">10E</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10F">10F</option>
                    </select>
                </div>
            </div>
            <div th:if="${reservation.getNumberPassengers()>3}">
                <P>Passenger 4</P>
                <input type="hidden" name = "p3id" th:field="${passenger.id}">
                <div class="form-group">
                    <label for="p4firstName">First Name</label>
                    <input class="form-control" id="p4firstName" type="text" name="p4firstName" th:field="${passenger.firstName}" />
                </div>
                <div class="form-group">
                    <label for="p4lastName">Last Name</label>
                    <input class="form-control" id="p4lastName" type="text" name="p4lastName" th:field="${passenger.lastName}" />
                </div>
                <div class="form-group">
                    <label for="p4seatNumber">Seat Selection <br>(Window seats (A, F) add $5)</label>
                    <select class="form-control" id="p4seatNumber" type="number" name="p4seatNumber" th:field="${passenger.seatNumber}">
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="1A">1A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="1F">1F</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="2A">2A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="2F">2F</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="3A">3A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="3F">3F</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="4A">4A</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="4B">4B</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5A">5A</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5B">5B</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5E">5E</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5F">5F</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10A">10A</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10B">10B</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10C">10C</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10D">10D</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10E">10E</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10F">10F</option>
                    </select>
                </div>
            </div>
            <div th:if="${reservation.getNumberPassengers()>4}">
                <P>Passenger 5</P>
                <input type="hidden" name = "p5id" th:field="${passenger.id}">
                <div class="form-group">
                    <label for="p5firstName">First Name</label>
                    <input class="form-control" id="p5firstName" type="text" name="p5firstName" th:field="${passenger.firstName}" />
                </div>
                <div class="form-group">
                    <label for="p5lastName">Last Name</label>
                    <input class="form-control" id="p5lastName" type="text" name="p5lastName" th:field="${passenger.lastName}" />
                </div>
                <div class="form-group">
                    <label for="p5seatNumber">Seat Selection <br>(Window seats (A, F) add $5)</label>
                    <select class="form-control" id="p5seatNumber" type="number" name="p5seatNumber" th:field="${passenger.seatNumber}">
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="1A">1A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="1F">1F</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="2A">2A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="2F">2F</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="3A">3A</option>
                        <option th:if="${reservation.getFlightClass().equals('First')}" value="3F">3F</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="4A">4A</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="4B">4B</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5A">5A</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5B">5B</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5E">5E</option>
                        <option th:if="${reservation.getFlightClass().equals('Business')}" value="5F">5F</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10A">10A</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10B">10B</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10C">10C</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10D">10D</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10E">10E</option>
                        <option th:if="${reservation.getFlightClass().equals('Economy')}" value="10F">10F</option>
                    </select>
                </div>
            </div>
            <p>Please review your flight selections and passenger information to ensure everything
                is correct, then click "Confirm Reservation." If you are not already logged in,
                you will be prompted to log in.</p>
            <button type="submit" class="btn btn-default"><b>Confirm Reservation</b></button>
        </form>
        <br>
    </div>
</div>
<br>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>