<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Detail</title>
    <div th:insert="base :: head"></div>
</head>
<body>
<div th:insert="base :: navlinks"></div>
<br>
<div class="container">
    <div class="jumbotron">
        <h1 >User Details</h1>
        <table style="alignment: center">
            <tr>
                <td>First Name: &nbsp;</td>
                <td><span th:text="${user.firstName}"></span></td>
            </tr>
            <tr>
                <td>Last Name: &nbsp;</td>
                <td><span th:text="${user.lastName}"></span></td>
            </tr>
            <tr>
                <td>Username: &nbsp;</td>
                <td><span th:text="${user.username}"></span></td>
            </tr>
            <tr>
                <td>Email: &nbsp;</td>
                <td><span th:text="${user.email}"></span></td>
            </tr>
            <tr>
                <td>Roles: &nbsp;</td>
                <td>
                    <tr th:each="role : ${user.roles}">
                        <td></td>
<!--fixed following line so it returned English instead of hex address by using role.role instead of just role-->
                        <td th:text="${role.role}"></td>
<!--                        <td>-->
<!--                            <a th:href="@{delete_user_role/{id}(id=${role.id})}">Delete</a>-->
<!--                        </td>-->
                    </tr>
                </td>
            </tr>
        </table>
        <br>
<!--        <h6>Add a Role for This User</h6>-->
        <!--        <br>-->
        <!--        <form action="#" th:action="@{/processuserrole}" th:object="${user}" method="post">-->
        <!--            <input type="hidden" th:field="*{id}"/>-->
        <!--            <input type="hidden" th:field="*{email}"/>-->
        <!--            <input type="hidden" th:field="*{password}"/>-->
        <!--            <input type="hidden" th:field="*{username}"/>-->
        <!--            <input type="hidden" th:field="*{firstName}"/>-->
        <!--            <input type="hidden" th:field="*{lastName}"/>-->
        <!--            <input type="hidden" th:field="*{enabled}"/>-->
        <!--&lt;!&ndash;            <input type="hidden" th:field="*{roles}"/>&ndash;&gt;-->
        <!--            <select name="role" th:field="*{roles}">-->
        <!--                <option th:each="role : ${roles}"-->
        <!--                        th:value="${role.id}"-->
        <!--                        th:text="${role.role}">-->
        <!--                </option>-->
        <!--            </select>-->
        <!--            <br><br>-->
        <!--            <button type="submit" style="color: darkblue"><b>Submit</b></button>-->
        <!--        </form>-->

        <br>
        <h6>Back to <a href="/userlist">User List</a></h6>
        <br>
    </div>
</div>
<br>
<div th:insert="base :: footer"></div>
<div th:insert="base :: bootstrapScripts"></div>
</body>
</html>